.chatContainer {
  direction: rtl;
}

.chatContent {
  direction: ltr;
}

.chatContainer::-webkit-scrollbar {
  width: 6px;
}

.chatContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.chatContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.chatContainer::-webkit-scrollbar-thumb:hover {
  background: #666;
} 